{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% if category %}{{ category.name }} {% else %}{% trans "Products" %} {% endif %} {% endblock %}

{% block content %}

{% load static %}

<div class="row">
    <div class="card bg-dark col-sm-3" id="leftcol" style="width: 18rem;">
        <table class="table table-dark table-hover text-center table-borderless">
            <th class="table-danger">{% trans "Categories" %}</th>
            <tbody>
                <tr>
                    <td {% if not category %} class="list-group-item table-active" {% endif %}>
                        <a href="{% url 'shop:product_list' %}">{% trans "All" %}</a>
                    </td>
                </tr>
                {% for c in categories %}
                <tr>
                    <td {% if category.slug == c.slug %} class="list-group-item table-active" {% endif %}>
                        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-9" id="rightcol">
        <div class="row">
            <h1 id="catid" class="alert text-center" role="alert">{% if category %}
                {{ category.name }}
                {% else %}{% trans "All Products" %}{% endif %}
            </h1>
            <span class="lang col-sm-4 offset-5 text-center text-white">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <div class="languages">
                    <p>{% trans "Language" %}:
                        {% for language in languages %}
                        <span>
                            <a href="/{{ language.code }}/list" {% if language.code == LANGUAGE_CODE %} class="selected"
                                {% endif %}>
                                {{ language.name_local }}
                            </a>
                        </span>
                        {% endfor %}
                    </p>
                </div>
            </span>
        </div>

        <div class="row">

            {% for product in products %}

            <div class="col-sm-3 mb-4">
                <div class="card bg-dark text-white h-100 my-2">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'image/noimage.png' %} {% endif %}"
                            class="card-img-top" alt="..." style="max-height: 200px;">
                    </a>
                    <div class="card-body">
                        <a href="{{ product.get_absolute_url }}">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </a>
                        <p class="card-text">{{ product.description|truncatewords:10 }}</p>
                        <hr>
                        <h5>{% trans "Rs" %}.{{ product.price }}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted" style="font-size: .55em;">{% trans "Last updated" %}
                            {{ product.updated }}</small>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}