{% load i18n %}

<footer class="text-muted py-5" id="footer">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">{% trans "Back to top" %}</a>
        </p>
        <p class="mb-1">{% trans "MyShop © Here at Your service for all the medicinal Support!" %}</p>
        <p class="mb-0">{% trans "Mail us in" %} <a
                href="https://www.gmail.com">Myshop@gmail.com</a>{% trans "or Call us at" %} <a
                href="https://www.facebook.com">{% trans "9860269554" %}</a>.</p>
        <a href="/" class="ml-3">{% trans "Exit" %}</a>
    </div>
</footer>